.dot {
  background: grey;
  border-radius: 50%;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 3vw;
  @media screen and (max-width: 800px) {
    height: 5px;
    width: 5px;
  }
}
.active {
  background: black;
}
.dots {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 100%;
  margin-top: 30px;
  align-items: center;
}
